<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
 

  <div id="container">

    <!-- Filtering -->
    <ion-grid fixed>
      <ion-row>        
        <ion-col size="12">
          <ion-card>
            <ion-list>
              <ion-list-header>
                <ion-label>Filter</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label>Country</ion-label>
                <ion-select placeholder="" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="f">Female</ion-select-option>
                  <ion-select-option value="m">Male</ion-select-option>
                  <ion-select-option value="brown">Brown</ion-select-option>
                  <ion-select-option value="blonde">Blonde</ion-select-option>
                  <ion-select-option value="black">Black</ion-select-option>
                  <ion-select-option value="red">Red</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label>Category</ion-label>
                <ion-select placeholder="" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="f">Female</ion-select-option>
                  <ion-select-option value="m">Male</ion-select-option>
                  <ion-select-option value="brown">Brown</ion-select-option>
                  <ion-select-option value="blonde">Blonde</ion-select-option>
                  <ion-select-option value="black">Black</ion-select-option>
                  <ion-select-option value="red">Red</ion-select-option>
                </ion-select>
              </ion-item>

            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>  
    </ion-grid> 


    <!-- News -->
    <ion-grid fixed class="ion-align-items-center" *ngIf="!isLoading">
      <ion-row>  
        <ion-col *ngFor="let article of news" size="12" size-lg="4">
          <ion-card>
            <ion-img src=" {{ article.urlToImage }}"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{ article.publishedAt | date}}</ion-card-subtitle>
              <ion-card-title>{{ article.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ article.description }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-spinner name="dots" class="news-loader" *ngIf="isLoading"></ion-spinner>
  </div>
</ion-content>
