<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='folder/Home'></ion-back-button>
    </ion-buttons>
    <ion-title>Article Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size=12 size-lg="6">
        <ion-card>
          <ion-img src=" {{ article.urlToImage }}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ article.publishedAt | date}}</ion-card-subtitle>
            <ion-card-title>{{ article.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
              <ion-text color="dark">
                <h5> {{ article.author }}</h5>
              </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>
                  {{ article.content }}
                  <a href="article.url">Read full</a>
                </p>
              </ion-col>
            </ion-row>

            <!-- Add Favorite -->
            <ion-row *ngIf="!isFavorite">
              <ion-col>
                <ion-button expand="block" color="secondary" (click)="addToFavorites(article)">
                  <ion-icon name="heart-outline"></ion-icon>
                  <span class="ion-padding">Favorite</span>
                </ion-button>
              </ion-col>
            </ion-row>

            <!-- Remove Favorite -->
            <ion-row *ngIf="isFavorite">
              <ion-col>
                <ion-button expand="block" color="secondary" (click)="removeFromFavorites(article)">
                  <ion-icon name="heart"></ion-icon>
                  <span class="ion-padding">Remove</span>
                </ion-button>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
   
  </ion-grid>

</ion-content>
